// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright © 2024 TecInvent
 * Author: Kevin Detta <kevin.detta@tecinvent.ch>
 * Author: Dina Gomes Dias <dina.gomes@tecinvent.ch>
 */

// SCX 10inch LVDS Display Dimensions and Timing (SCX1001511GGC49)

&panel_dpi {
	status = "okay";

	width-mm = <217>;
	height-mm = <136>;

	panel-timing {
		/* Typical OPTO logic frequency is 64500000, but linux-nxp only supports specific modes.
		 * See: https://developer.toradex.com/linux-bsp/application-development/multimedia/display-output-resolution-and-timings-linux/#verdin-imx8m-plus-lvds-known-issues */
		clock-frequency = <64900000>;
		hactive = <1280>;
		hback-porch = <20>;
		hfront-porch = <20>;
		hsync-len = <2>;
		vactive = <800>;
		vback-porch = <5>;
		vfront-porch = <5>;
		vsync-len = <3>;

		de-active = <1>;
		hsync-active = <0>;
		vsync-active = <0>;
		pixelclk-active = <0>;
	};
};
